ESUITE_BASE_URL=https://esuite.edot.id
ESUITE_EMAIL=
ESUITE_PASSWORD=
HEADLESS=true
SLOW_MO_MS=0
BROWSER=chromium
PLAYWRIGHT_STORAGE_STATE=artifacts/auth/esuite_storage_state.json
ALLURE_RESULTS_DIR=reports/allure-results
OPENAI_API_KEY=
OPENAI_TEST_DATA_MODEL=gpt-5-nano
AI_TEST_DATA_MAX_ATTEMPTS=2
AI_TEST_DATA_MAX_OUTPUT_TOKENS=700
ESUITE_COMPANY_TYPE=Retailer
ESUITE_COMPANY_LANGUAGE=English
ESUITE_COMPANY_COUNTRY=Indonesia
ESUITE_COMPANY_PROVINCE=DKI Jakarta
ESUITE_COMPANY_CITY=Jakarta Selatan
ESUITE_COMPANY_DISTRICT=Kebayoran Baru
ESUITE_COMPANY_ZONE=Senayan
ESUITE_COMPANY_POSTAL_CODE=12190
